@import url(/hub-ia/css/variables.css);
@import url(/hub-ia/css/reset.css);

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--header-height);
    background-color: var(--color-bg-transparent);
    border-bottom: 1px solid var(--color-border);

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
    z-index: 1000;
    backdrop-filter: blur(12px);
}

.header__brand {

}

.header__title {

}

.nav_list {

}

.nav__item {

}

.nav__link {

}

.nav__link:hover, .nav__link:focus {
    
}

