* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: Helvetica;
}

.main-bateria {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-bateria__left {
    margin-right: 20px;
}

.main-bateria__left--img {
    width: 380px;
    height: 550px;
    /* proporção ~ 2:3 */
}

.main-bateria__right {
    width: 628px;
    align-content: space-evenly;
}

.text__title--titulo {
    font-size: 65px;
    height: 130px;
}

.text__title--subtitulo {
    color: rgb(108, 169, 249);
    font-family: "Calibri Light";
    font-weight: 400;
    font-size: 50px;
}

.text__carregador-bateria {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.text__sem-fio {
    margin-top: 20px;
}



/* padrões */

.titulo {
    font-size: 40px;
    font-weight: bolder;
    margin-bottom: 15px;
}

.elevado--titulo {
    font-size: 15px;
}

.elevado--texto {
    font-size: 8px;
}

.texto {
    font-size: 20px;
}